#game-info, #controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    text-align: center;
}
#timer {
    text-align: end;
}
#card-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5em ;
}
#questions{
    text-align: center;
}